<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="~{include/xdmHead :: xdmHead}"></div>
</head>

<body>

	<!-- Page wrapper start -->
	<div class="page-wrapper">

		<!-- Main container start -->
		<div class="main-container">

			<div th:replace="~{include/xdmAside :: xdmAside}"></div>

			<div th:replace="~{include/xdmHeader :: xdmHeader}"></div>

			

				<!-- App hero header starts -->
				<div class="app-hero-header d-flex align-items-start">

					<!-- Breadcrumb start -->
					<ol class="breadcrumb d-none d-lg-flex align-items-center">
						<li class="breadcrumb-item">
							<i class="bi bi-house"></i>
							<span>Home</span>
						</li>
						<li class="breadcrumb-item">tables</li>
						<li class="breadcrumb-item" aria-current="page">
							view
						</li>
					</ol>
					<!-- Breadcrumb end -->



				</div>
				<!-- App Hero header ends -->

				<!-- App body starts -->
				<div class="app-body">
					
					<!-- Row start -->
					<div class="row">
						<div class="col-xxl-12">
							<div class="card mb-4">
								<div class="card-body">
									<form class="row g-3"
										method="post">
										
										<div class="col-md-6">
											<label for="receiptSeq" class="form-label">Receipt Seq</label> <input
												type="text" class="form-control" name="receiptSeq" id="receiptSeq"
												th:value="${item.receiptSeq}" readonly  />
										</div>
										<div class="col-md-6">
											<label for="receiptDelNy" class="form-label">Receipt DelNy</label> <input
												type="text" class="form-control" name="receiptDelNy" id="receiptDelNy"
												th:value="${item.receiptDelNy}" readonly />
										</div>
										<div class="col-md-6">
											<label for="receiptCount" class="form-label">Receipt Count</label> <input
												type="text" class="form-control" name="receiptCount" id="receiptCount"
												th:value="${item.receiptCount}"  readonly/>
										</div>
										<div class="col-md-6">
											<label for="receiptStatusCd" class="form-label">Receipt Status</label> <input
												type="text" class="form-control" name="receiptStatusCd" id="receiptStatusCd"
												th:value="${item.receiptStatusCd}" readonly />
										</div>
										<div class="col-md-6">
											<label for="purchaseOrderSeqF" class="form-label">Purchase No</label> <input
												type="text" class="form-control" name="purchaseOrderSeqF" id="purchaseOrderSeqF"
												th:value="${item.purchaseOrderSeqF}" readonly />
										</div>
										<div class="col-md-6"></div>
										<div class="col-md-6">
											<label for="memberName" class="form-label">Company Name</label> <input
												type="text" class="form-control" name="memberName" id="memberName"
												th:value="${item.memberName}" readonly />
										</div>
										<div class="col-md-6">
											<label for="receiptInventory" class="form-label">Company Inventory</label> <input
												type="text" class="form-control" name="receiptInventory" id="receiptInventory"
												th:value="${item.receiptInventory}" readonly  />
										</div>
										<div class="col-md-6">
											<label for="receiptRegDate" class="form-label">Receipt RegDate</label> <input
												type="text" class="form-control" name="receiptRegDate" id="receiptRegDate"
												th:value="${#dates.format(item.receiptRegDate, 'yyyy-MM-dd일 HH:mm:ss')}" readonly />
										</div>
										<div class="col-md-6">
											<label for="receiptModDate" class="form-label">Receipt ModDate</label>
											<input type="text" class="form-control" name="receiptModDate" id="receiptModDate" 
											th:value="${#dates.format(item.receiptModDate, 'yyyy-MM-dd일 HH:mm:ss')}" readonly />
										</div>
									</form>
									<!-- 테이블 아래 쪽 뒤로가기 -->
									<div class="d-flex justify-content-between flex-row ms-5 pt-5">
										<div class="col-2">
											<a class="btn btn-danger btn-icon btn-sm mb-1" href="#"
												th:href="@{/receiptXdmList}"><i class="bi bi-arrow-left"></i></a>
										</div>
										<!-- 테이블 아래 쪽 등록 버튼 -->

										<div class="col-2">
											<a class="btn btn-info btn-sm mb-1" href="#"
												th:href="@{/receiptXdmUpdateForm(receiptSeq=${item.receiptSeq})}">
												<i class="bi bi-pencil"></i>
											</a>

											<!-- uelete 버튼 시작 -->
											<button class="btn btn-danger btn-sm mb-1" data-bs-toggle="modal"
												th:data-bs-target="'#ueleteModal' + ${item['receiptSeq']}"
												data-bs-target="#ueleteModal">
												<i class="bi bi-trash"></i>
											</button>
											<!-- uelete Modal -->
											<div class="modal fade" th:id="'ueleteModal' + ${item['receiptSeq']}"
												id="ueleteModal" tabindex="-1" aria-labelledby="ueleteModalLabel"
												aria-hidden="true">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<h5 class="modal-title" id="ueleteModalLabel">
																상품 삭제</h5>
															<button type="button" class="btn-close"
																data-bs-dismiss="modal" aria-label="Close"></button>
														</div>
														<form action="/receiptXdmUelete" method="post">
															<div class="modal-body">
																<input type="hidden" name="receiptSeq" th:value="${item.receiptSeq}">
																<span>정말 삭제하시겠습니까 ?</span>
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-secondary"
																	data-bs-dismiss="modal">Close</button>
																<button type="submit" class="btn btn-primary">
																	삭제</button>
															</div>
														</form>
													</div>
												</div>
											</div>
											<!-- delete 버튼 시작 -->
<!-- 											<button class="btn btn-danger btn-sm mb-1" data-bs-toggle="modal" -->
<!-- 												th:data-bs-target="'#deleteModal' + ${item['receiptSeq']}" -->
<!-- 												data-bs-target="#deleteModal"> -->
<!-- 												<i class="bi bi-x-lg"></i> -->
<!-- 											</button> -->
											<!-- delete Modal -->
											<div class="modal fade" th:id="'deleteModal' + ${item['receiptSeq']}"
												id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
												aria-hidden="true">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<h5 class="modal-title" id="deleteModalLabel">
																완전 삭제</h5>
															<button type="button" class="btn-close"
																data-bs-dismiss="modal" aria-label="Close"></button>
														</div>
														<form action="/receiptXdmDelete" method="post">
															<div class="modal-body">
																<input type="hidden" name="receiptSeq" th:value="${item.receiptSeq}">
																<span>정말 삭제하시겠습니까 ?</span>
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-secondary"
																	data-bs-dismiss="modal">Close</button>
																<button type="submit" class="btn btn-primary">
																	삭제</button>
															</div>
														</form>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Row end -->



				</div>
				<!-- App body ends -->
			</div>
			<!-- App container ends -->

		</div>
		<!-- Main container end -->

	</div>
	<!-- Page wrapper end -->

	<div th:replace="~{include/commonjs :: commonXdmJs}"></div>
	
</body>

</html>