<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itjfw.infra.member.MemberDao">

<resultMap id="resultMapObj" type="com.itjfw.infra.member.MemberDto"></resultMap>

<!-- member Mapper 공통 구문 -->
<!-- select 공통 구문 SQL -->
	<sql id ="selectCommonMember">
		from
			member a   
		where 1=1
			<if test="voDelNy != null and !voDelNy.equals('')">AND a.memberDelNy = #{voDelNy}</if>
			
 			<choose>
				<when test="voOptionDate == 1">AND a.memberRegDate BETWEEN #{voDateStart} AND #{voDateEnd}</when>
				<when test="voOptionDate == 2">AND memberModDate BETWEEN #{voDateStart} AND #{voDateEnd}</when>
			</choose>
			
 			<choose> 
	            <when test="voOption == 1">AND a.memberSeq = #{voValue}</when>
	            <when test="voOption == 2">AND a.memberName = #{voValue}</when>	       
	            <when test="voOption == 3">AND a.memberID = #{voValue}</when>     
	           <when test="voOption == 4">AND a.memberTypeCd = #{voValue}</when>
       		</choose>
	</sql>
	
<select id="memberList" resultMap="resultMapObj">
<include refid="base.selectListUpperForMysql" />
	select
		a.memberSeq,
		a.memberID,
		a.memberPwd,
		a.memberName,
		a.memberGenderCd,
		a.memberTypeCd,
		a.memberAddr,
		a.memberDelNy,
		a.memberRegDate,
		a.memberModDate

<include refid="selectCommonMember" /> 
order by a.memberSeq
limit 99999999999
<include refid="base.selectListLowerForMysql" />
</select>


<select id="getTotalMemberCount" resultType="Integer">
select count(*)
<include refid="selectCommonMember"></include>
</select>

<!-- 멤버 정보 셀렉문 -->
<select id="selectMember" resultMap="resultMapObj">
select
	memberSeq,
	memberID,
	memberPwd,
	memberName,
	memberGenderCd,
	memberTypeCd,
	memberAddr,
	memberDelNy,
	memberRegDate,
	memberModDate
	
from
	member
	
where 1=1
and
	memberSeq=#{memberSeq}
</select>

<!--  Add Member -->
<insert id="memberInst">
insert into member (
	memberID,
	memberPwd,
	memberName,
	memberGenderCd,
	memberTypeCd,
	memberAddr,
	memberDelNy,
	memberRegDate,
	memberModDate
) values (
	#{memberID},
	#{memberPwd},
	#{memberName},
	#{memberGenderCd},
	#{memberTypeCd},
	#{memberAddr},
	#{memberDelNy},
	now(),
	now()
);
</insert>

<!-- 멤버 정보 수정 -->
<update id="memberUpdt">
update member
set
	memberID=#{memberID},
	memberPwd=#{memberPwd},
	memberName=#{memberName},
	memberGenderCd=#{memberGenderCd},
	memberTypeCd=#{memberTypeCd},
	memberAddr=#{memberAddr},
	memberDelNy=#{memberDelNy},
	memberRegDate=now(),
	memberModDate=now()
	
where 1=1
	and memberSeq=#{memberSeq}
</update>

<!-- 멤버 삭제 / Uelete -->
<update id="memberUlt">
update member
set
	memberDelNy=1
where 1=1
and
	memberSeq=#{memberSeq}
</update>

<!-- 멤버 삭제 / 아예 삭제 -->
<delete id="memberDel">
delete from member
where 1=1
and
	memberSeq=#{memberSeq}
</delete>
	
<!-- 주문 페이지에서 멤버 정보 불러오기-->
<select id="selectListWithoutPaging" resultMap="resultMapObj">
	select
		a.memberSeq,
		a.memberName
		
	from
		member a
	where 1=1
	and a.memberDelNy=0
	order by a.memberSeq desc
</select>
   
<!-- 주문 페이지에서 멤버 정보 불러오기-->
<select id="selectManagerListWithoutPaging" resultMap="resultMapObj">
	select
		a.memberSeq,
		a.memberName
		
	from
		member a
	where 1=1
	and a.memberDelNy=0
	and a.memberTypeCd=3
	order by a.memberSeq desc
</select>   

<!-- 거래처 멤버 정보 불러오기-->
<select id="selectCompanyListWithoutPaging" resultMap="resultMapObj">
	select
		a.memberSeq,
		a.memberName
		
	from
		member a
	where 1=1
	and a.memberDelNy=0
	and a.memberTypeCd=2
	order by a.memberSeq desc
</select>   

<!-- 로그인 처리 쿼리 -->
<select id="selectOneById">
	select
		memberSeq,
		memberName,
		memberID,
		memberPwd,
		memberGenderCd,
		memberTypeCd,
		memberAddr,
		memberDelNy,
		memberRegDate,
		memberModDate
		
	from
		member
	where memberID = #{memberID}
</select>
   
</mapper>