<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itjfw.infra.orders.OrdersDao">

<resultMap id="resultMapObj" type="com.itjfw.infra.orders.OrdersDto"></resultMap>

<!-- orders Mapper 공통 구문 -->
<!-- select 공통 구문 SQL -->
	<sql id ="selectCommonOrders">
		from
			orders a
		where 1=1
			and ordersDelNy = 0
			<if test="voDelNy != null and !voDelNy.equals('')">AND a.ordersDelNy = #{voDelNy}</if>
			
 			<choose>
				<when test="voOptionDate == 1">AND a.ordersRegDate BETWEEN #{voDateStart} AND #{voDateEnd}</when>
				<when test="voOptionDate == 2">AND ordersModDate BETWEEN #{voDateStart} AND #{voDateEnd}</when>
			</choose>
			
 			<choose> 
	            <when test="voOption == 1">AND a.ordersSeq = #{voValue}</when>
	            <when test="voOption == 2">AND a.ordererName = #{voValue}</when>	       
       		</choose>
	</sql>
	
<select id="ordersList" resultMap="resultMapObj">
<!--include upper, lower, limit 9999절 지우면 리스트 잘 뜸 + 페이징 기능 작동 X. 근데 저거 살려놓으면 리스트가 안 뜸. 왜??-->
<!-- <include refid="base.selectListUpperForMysql" /> -->
	select
		a.ordersSeq,
		a.ordererName,
		a.ordersDelNy,
		a.ordersRegDate,
		a.ordersModDate,
		a.memberSeqF

<include refid="selectCommonOrders" /> 
order by a.ordersSeq
 <!-- limit 99999999999
<include refid="base.selectListLowerForMysql" /> -->
</select>


<select id="getTotalOrdersCount" resultType="Integer">
select count(*)
<include refid="selectCommonOrders"></include>
</select>

<!-- 주문 정보 셀렉문 -->
<select id="selectOrders" resultMap="resultMapObj">
select
	ordersSeq,
	ordererName,
	ordersDelNy,
	ordersRegDate,
	ordersModDate,
	memberSeqF
	
from
	orders
	
where 1=1
and
	ordersSeq=#{ordersSeq}
</select>

<!--  Add orders -->
<insert id="ordersInst">
insert into orders (
	ordererName,
	ordersDelNy,
	ordersRegDate,
	ordersModDate,
	memberSeqF
) values (
	#{ordererName},
	#{ordersDelNy},
	now(),
	now(),
	#{memberSeqF}
);
</insert>

<!-- 주문 정보 수정 -->
<update id="ordersUpdt">
update orders
set
	ordererName=#{ordererName},
	ordersDelNy=#{ordersDelNy},
	ordersRegDate=now(),
	ordersModDate=now(),
	memberSeqF=#{memberSeqF} 
	
where 1=1
	and ordersSeq=#{ordersSeq}
</update>

<!-- 주문 삭제 / Uelete -->
<update id="ordersUlt">
update orders
set
	ordersDelNy=1
where 1=1
and
	ordersSeq=#{ordersSeq}
</update>

<!-- 주문 삭제 / 아예 삭제 -->
<delete id="ordersDel">
delete from orders
where 1=1
and
	ordersSeq=#{ordersSeq}
</delete>
	


</mapper>