<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itjfw.infra.orderdetail.OrderDetailDao">

<resultMap id="resultMapObj" type="com.itjfw.infra.orderdetail.OrderDetailDto"></resultMap>

<!-- order detail Mapper 공통 구문 //근데 얜 공통구문 딱히 없는 것 같기도 함.-->
<!-- select 공통 구문 SQL -->
	<sql id ="selectCommonOrderDetail">

			
 			<choose>
				<when test="voOptionDate == 1">AND orderDetailRegDate BETWEEN #{voDateStart} AND #{voDateEnd}</when>
				<when test="voOptionDate == 2">AND orderDetailModDate BETWEEN #{voDateStart} AND #{voDateEnd}</when>
			</choose>
			
 			<choose> 
	            <when test="voOption == 1">AND ordersSeqF = #{voValue}</when>
	            <when test="voOption == 2">AND orderDeliverName = #{voValue}</when>
       		</choose>
	</sql>
	
<select id="orderDetailList" resultMap="resultMapObj">
<!--include upper, lower, limit 9999절 지우면 리스트 잘 뜸 + 페이징 기능 작동 X. 근데 저거 살려놓으면 리스트가 안 뜸. 왜??-->
<!-- <include refid="base.selectListUpperForMysql" /> -->
	select
		a.orderDetailSeq,
		a.ordersCount,
		a.orderDeliverName,
		a.orderStatusCd,
		a.ordersSeqF,
		a.productSeqF,
		b.ordersSeq,
		b.ordererName,
		b.ordersRegDate,
		b.ordersModDate,
		b.ordersDelNy,
		c.productName
	from
		orderDetail a
		
	left join 
		orders b 
	on
		b.ordersSeq=a.ordersSeqF
	left join
		product c
	on a.productSeqF=c.productSeq

 			<choose>
				<when test="voOptionDate == 1">AND b.ordersRegDate BETWEEN #{voDateStart} AND #{voDateEnd}</when>
				<when test="voOptionDate == 2">AND b.ordersModDate BETWEEN #{voDateStart} AND #{voDateEnd}</when>
			</choose>
			
 			<choose> 
	            <when test="voOption == 1">AND a.orderDetailSeqF = #{voValue}</when>
	            <when test="voOption == 2">AND a.orderDeliverName = #{voValue}</when>
	            <when test="voOption == 3">AND b.ordererName = #{voValue}</when>
       		</choose>
       		
order by a.orderDetailSeq
 <!-- limit 99999999999
<include refid="base.selectListLowerForMysql" /> -->
</select>


<select id="getTotalOrderDetailCount" resultType="Integer">
select count(*) from orderDetail</select>

<!-- 주문 정보 셀렉문 -->
<select id="selectOrderDetail" resultMap="resultMapObj">
	select
		a.orderDetailSeq,
		a.ordersCount,
		a.orderDeliverName,
		a.orderStatusCd,
		a.memberSeqF,
		a.ordersSeqF,
		a.productSeqF,
		b.ordersSeq,
		b.ordererName,
		b.ordersRegDate,
		b.ordersModDate,
		b.ordersDelNy,
		b.productSeqF
	from
		orderDetail
		
	left join 
		orders b 
	on
		b.ordersSeq=a.ordersSeqF
	left join
		product c
	on a.productSeqF=c.productSeq
	
where 1=1
and
	orderDetailSeq=#{orderDetailSeq}
</select>

<!--  Add orders -->
<insert id="orderDetailInst">
insert into orderDetail (
	ordersCount,
	orderDeliverName,
	orderStatusCd,
	ordersSeqF,
	productSeqF
) values (
	#{ordersCount},
	#{orderDeliverName},
	#{orderStatusCd},
	#{ordersSeqF}
	#{productSeqF}
);
</insert>

<!-- 주문 정보 수정 -->
<update id="orderDetailUpdt">
update orders
set
	ordersCount=#{ordererName},
	orderDeliverName=#{orderDeliverName},
	orderStatusCd=#{orderStatusCd},
	ordersSeqF=#{ordersSeqF},
	productSeqF=#{productSeqF} 
	
where 1=1
	and orderDetailSeq=#{orderDetailSeq}
</update>

<!-- order Detil 테이블에 delNY 칼럼 없어, uelete 구현 불
	delete > order 뷰에서 삭제 시 주문 상세도 함께 삭제되도록 조인함 -->

</mapper>