<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itjfw.infra.orderdetail.OrderDetailDao">

<resultMap id="resultMapObj" type="com.itjfw.infra.orderdetail.OrderDetailDto"></resultMap>

<!-- orders Mapper 공통 구문 -->
<!-- select 공통 구문 SQL -->
	<sql id ="selectCommonOrderDetail">
	from
		orderDetail a
		
		<!-- 조인문 start -->
		inner join
			orders b
		on
			a.ordersSeqF=b.ordersSeq
		
		inner join
			product c
		on
			a.productSeqF=c.productSeq
			
		inner join
			member d
		on b.memberSeqF=d.memberSeq
		<!-- 조인문 end -->
		
	where 1=1
		<if test="voDelNy != null and !voDelNy.equals('')">AND a.orderDetailDelNy = #{voDelNy}</if>
			
 		<choose>
			<when test="voOptionDate == 1">AND a.orderDetailRegDate BETWEEN #{voDateStart} AND #{voDateEnd}</when>
			<when test="voOptionDate == 2">AND orderDetailModDate BETWEEN #{voDateStart} AND #{voDateEnd}</when>
		</choose>
			
 		<choose> 
	        <when test="voOption == 1">AND a.orderDetailSeq = #{voValue}</when>
	        <when test="voOption == 2">AND a.orderDeliverName = #{voValue}</when>	  
       	</choose>
		
		
	</sql>
	
<!-- 주문 상세 리스트로 받아-->
<select id="orderDetailList" resultMap="resultMapObj">
<!--include upper, lower, limit 9999절 지우면 리스트 잘 뜸 + 페이징 기능 작동 X. 근데 저거 살려놓으면 리스트가 안 뜸. 왜??-->
 <include refid="base.selectListUpperForMysql" /> 
	select
		a.orderDetailSeq,
		a.ordersCount,
		a.orderDeliverName,
		a.orderStatusCd,
		a.orderDetailDelNy,
		a.orderDetailRegDate,
		a.orderDetailModDate,
		a.ordersSeqF,
		a.productSeqF,
		b.ordersSeq,
		b.ordererName,
		c.productSeq,
		c.productName,
		c.productPrice,
		d.memberSeq,
		d.memberID,
		d.memberName,
		d.memberTypeCd
<include refid="selectCommonOrderDetail" />
order by a.orderDetailSeq
 limit 9999
<include refid="base.selectListLowerForMysql" /> 
</select>

<!-- 전체 개수 반환 쿼리 -->
<select id="getTotalOrderDetailCount" resultType="Integer">
	select count(*)
	<include refid="selectCommonOrderDetail" />
</select>

<!-- 주문 정보 셀렉문 -->
<select id="selectOrderDetail" resultMap="resultMapObj">
	select
		a.orderDetailSeq,
		a.ordersCount,
		a.orderDeliverName,
		a.orderStatusCd,
		a.orderDetailDelNy,
		a.orderDetailRegDate,
		a.orderDetailModDate,
		a.ordersSeqF,
		a.productSeqF,
		b.ordersSeq,
		b.ordererName,
		c.productSeq,
		c.productName,
		c.productPrice,
		d.memberSeq,
		d.memberID,
		d.memberName,
		d.memberTypeCd
		
	from
		orderDetail a
		
		<!-- 조인문 start -->
		inner join
			orders b
		on
			a.ordersSeqF=b.ordersSeq
		
		inner join
			product c
		on
			a.productSeqF=c.productSeq
			
		inner join
			member d
		on b.memberSeqF=d.memberSeq
		<!-- 조인문 end -->
		
	where 1=1
	and
	orderDetailSeq=#{orderDetailSeq}
</select>

<!--  Add orders -->
<insert id="orderDetailInst">
insert into orderDetail (
	ordersCount,
	ordersSeqF,
	productSeqF,
	orderDetailDelNy,
	orderDeliverName,
	orderStatusCd,
	orderDetailRegDate,
	orderDetailModDate
) values (
	#{ordersCount},
	#{ordersSeqF},
	#{productSeqF},
	#{orderDetailDelNy},
	#{orderDeliverName},
	#{orderStatusCd},
	now(),
	now()
);
</insert>

<!-- 주문 정보 수정 -->
<update id="orderDetailUpdt">
update orderDetail
set
	ordersCount=#{ordersCount},
	orderDetailDelNy=#{orderDetailDelNy},
	orderDetailRegDate=now(),
	orderDetailModDate=now(),
	ordersSeqF=#{ordersSeqF},
	productSeqF=#{productSeqF},
	orderStatusCd=#{orderStatusCd},
	orderDeliverName=#{orderDeliverName}
	
where 1=1
	and orderDetailSeq=#{orderDetailSeq}
</update>

<!-- 주문 삭제 / Uelete -->
<update id="orderDetailUlt">
update orderDetail
set
	orderDetailDelNy=1
	
where 1=1
and
	orderDetailSeq=#{orderDetailSeq}
</update>

<!-- 주문 삭제 / 아예 삭제 -->
<delete id="orderDetailDel">
delete from orderDetail
where 1=1
and 
orderDetailSeq=#{orderDetailSeq}
</delete>

<delete id="delWithOrdersSeq">
delete from orderDetail
where 1=1
and ordersSeqF = #{ordersSeqF}
</delete>

<!-- 주문 상세 페이지에서 주문 정보 불러오기 -->
<select id="selectListWithoutPaging" resultMap="resultMapObj">
select
	a.ordersSeq,
	a.ordererName,
	a.memberSeqF
	
from
	orders a
where 1=1
and a.ordersDelNy=0
order by a.ordersSeq desc
</select>
	


</mapper>